<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<!-- Increased request length and timeout for file uploads -->
		<httpRuntime targetFramework="4.8"
					maxRequestLength="102400"
					executionTimeout="3600"
					enableVersionHeader="false" />

		

		<sessionState mode="InProc" timeout="30" cookieless="UseCookies" />
	</system.web>
	
	
	<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
	<!-- SMTP Configuration -->
	<!--<add key="SMTPHost" value="your.smtp.server"/>
	<add key="SMTPPort" value="587"/>
	<add key="SMTPUser" value="your@email.com"/>
	<add key="SMTPPassword" value="yourpassword"/>
	<add key="SMTPSSL" value="true"/>
	<add key="SMTPFrom" value="noreply@yourdomain.com"/>-->

	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 100MB in bytes (102400 * 1024) -->
				<requestLimits maxAllowedContentLength="104857600" />
			</requestFiltering>
		</security>
		<handlers>
			<!-- This may help with large uploads -->
			<remove name="WebDAV" />


			

		</handlers>
		<staticContent>
			<!-- Cache static content for 1 year -->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			
		</staticContent>

		<defaultDocument>
			<files>
				<add value="Home.aspx" />
			</files>
		</defaultDocument>
		
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
		
	</system.codedom>


	<connectionStrings>
		<add name="NextAeConnection"
			 connectionString="Server=TAHAKHALID\SQLEXPRESS;Database=Next_ae;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
</configuration>